/***LAVINDE COPENHAGEN KODE***/

/**fonte**/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
	font-family: 'helvetica';
	src: url('font/HelveticaNeue-Light.woff2') format('woff2'), url('font/HelveticaNeue-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ganton';
	src: url('font/Ganton.woff2') format('woff2'), url('font/Ganton.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

h1,
h2,
h3,
h4,
ul {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 300 !important;
}

.overskrift,
.display-1 {
	font-family: 'Ganton' !important;
}

.display-2,
.display-3,
.display-4 {
	font-weight: 200;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

p {
	font-family: 'helvetica', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 40px
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 18px;
}

ul,
a {
	font-size: 12px !important;
}

#tilmeld-nyhedsbrev .display-4,
#tilmeld-nyhedsbrev h4,
#carousel .display-4,
#carousel h4 {
	text-shadow: 0px 1px 17px rgba(51, 51, 51, 0.81);
	color: white;
	font-weight: 900;
}


#splash .display-4 {
	color: white;
}


header img, #splash img, #ingredienser img, #historien-bag-lavinde img, #step_1-3 img, #hav img, #bestsellers img, #carousel img, #3-boxes img, #before-and-after img, #testimonials img, #certified img, #video-section img, #tilmeld-nyhedsbrev img, #insta img, footer img {
  width: 100%;
  height: auto;
}



/***links***/

a,
ul {
	text-decoration: none;
	hyphens: auto;
}

a:hover,
ul:hover {
	color: white;
}

header a:hover {
	color: gray !important;

}

/***baggrundsfarver***/

.container_fluid {
	background-color: white;
}

header {
	background-color: transparent;
}

footer {
	background-color: #E2D7C6;
}

/*afsnitsdeling mellem sektionerne*/


#ingredienser {
	margin-top: 100px;
	margin-bottom: 150px;
}

#carousel,
#tilmeld-nyhedsbrev {
	margin-top: 150px;
	margin-bottom: 150px;
}

#before-and-after {
	margin-top: 150px;
	margin-bottom: 50px;
}

.logo {
	height: 100px;
	width: auto;
}

.black-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
}


/***knapper***/

.button,
.btn {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	transition: all 0.2s ease;
	cursor: pointer;
	margin: auto;
	padding: 15px 40px;
	background-color: #E2D7C6 !important;
	border: none !important;
	vertical-align: middle;
	text-align: center;
	z-index: 100;
}

a {
	z-index: 100;
}

.button:focus,
.button:active,
.button:focus-within {
	outline: 0;
}

.button:hover,
.btn:hover {
	background-color: #E2D7C6;
	color: white !important;
	text-decoration: none;
}

a:hover,
.btn:hover,
.button:hover {
	transform: scale(1.2);

}



#splash .knap:hover {
	transform: scale(1.2);
}

/*****menu****/
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

nav a {
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0px 0px 3px rgba(51, 51, 51, 0.91);
}


nav img {
	width: 150px;
	height: auto;
	margin-left: 20px;
}

.nav-link {
	font-size: 12px;
	color: white;
	font-weight: bold;
}

.nav-link {
	margin: 0px 20px;
}

.navbar-collapse {
	justify-content: flex-end;
}


/**splash header **/

.splash-foto {
	background-image: url(fotos/splash3.jpg);
	background-size: cover;
	width: 100vw;
	height: 900px;
	background-position: center;
	overflow: hidden;
}

#splash {
	overflow: hidden;

}

.splash-text {
	margin: 350px 35vw 0vw 20vw;
	color: white;
	text-shadow: 0px 0px 20px rgba(51, 51, 51, 0.71);
}

.splash-text p {
	text-shadow: 0px 0px 5px rgba(51, 51, 51, 0.91);
}
#splash {
	margin: 0px;
}

#splash .btn {
	margin-left: 270px;
	margin-top: 50px;
}

.overskrift2 {
	text-align: right;
}

.overskrift1 {
	text-align: left;
}

/***pil ned på splash***/

#splash_arrow {
	background-image: url(fotos/hvid_pil.svg);
	width: 45px;
	height: 25px;
	background-size: 100%;
	position: absolute;
	z-index: 100;
	top: 855px;
	left: 45%;
}


/***body***/

body {
	overflow-x: hidden;
}

html {
	overflow-x: hidden;
}


/*hav*/

#hav {
	display: block;
}

#havvideo {
	height: 500px;
	width: 100%;

}

#hav .video {
	object-fit: cover;
	object-position: 100% 20%;
}

/***Nyhedsbrev sign up**/


#mc_embed_signup .button {
	color: black !important;
	background-color: #E2D7C6 !important;
	border-radius: 0px !important;
}

.nyhedsbrev_foto {
	background-image: url(fotos/wave3.jpg);
	background-size: cover;
	width: 100vw;
	height: 400px;
	position: relative;
	background-position: center;
	overflow: hidden;
	background-attachment: fixed;
}

/*certified */
.certified-foto {
	background-image: url(fotos/hav.jpg);
	background-size: cover;
	width: 100%;
	height: 400px;
	position: relative;
	background-position: center;
	overflow: hidden;
	background-attachment: fixed;
}

.certified-foto img {
	height: 230px;
	padding: 20px;
	width: 230px;
}



/***STEP 1-3****/


#step_1-3 img {
	width: 100%;
}

.card {
	border: white !important;
}

.step {
	font-family: 'ganton';
	color: #E2D7C6;
}



/****historien-bag-lavinde***/

#historien-bag-lavinde {
	background-image: url(fotos/spire-baggrund-2.jpg);
	background-size: cover;
	width: 100%;
	height: 800px;
	background-position: center;
	overflow: hidden;

}


/**before and after**/


#before-and-after {
	/*	background-color: #E2D7C6; */
	background-image: url(fotos/renew-eyeserum-uden-prop.jpg);
	background-size: cover;
	width: 100%;
	height: 700px;
	background-position: center;
	overflow: hidden;
}

#before-and-after h2 {
	color: #333333;
}

* {
	box-sizing: border-box;
}

.img-comp-container {
	position: relative;
	height: 400px;
	/*should be the same height as the images*/
}

.img-comp-img {
	position: absolute;
	width: auto;
	height: auto;
	overflow: hidden;
}

.img-comp-img img {
	display: block;
	vertical-align: middle;
}

#before-and-after .btn {
	color: #333333;
	background-color: rgba(255, 255, 255, 0.76) !important;
}

/**slideshows button***/

.img-comp-slider {
	position: absolute;
	z-index: 9;
	cursor: ew-resize;
	/*set the appearance of the slider:*/
	width: 40px;
	height: 40px;
	background-color: skyblue;
	opacity: 0.7;
	border-radius: 50%;
}

.img-comp-slider:hover {
	transform: scale(1.3);
	background-color: #c4dee8;

}


/**ingredienser***/

.emballage {
	background-image: url(fotos/renew2.jpg);
	background-size: cover;
	width: 650px;
	height: 650px;
	position: relative;
	background-position: center;
	overflow: hidden;
}

.emballage h4 {
	z-index: 100;
}

/***testimonials***/

#testimonials .card-text {
	margin-top: -80px;
}

#testimonials img {
	width: 100%;
}

#testimonials p {
	color: #585858;
	font-style: italic;
}





/**bestsellers***/

#bestsellers img {
	width: 100%;
}

#bestsellers h3 {
	font-size: 18px;
}


/***3 BOXES***/

.text {
	background-color: #E2D7C6;
	margin-top: 80px;
}

.text h3 {
	margin: auto;
	font-family: 'Ganton';
	color: white;
}

.pic1 {
	margin-right: -50px;
	margin-left: 50px;
}

.pic3 {
	margin-left: -50px;
	margin-top: 50px;
	background-color: transparent;
}

video,
.pic3 img,
.text {
	width: 25vw;
	height: 25vw;
}



/****video****/

#video-section .textbox {
	margin-right: -50px;
	background-color: #E2D7C6;
}

iframe {
	width: 100%;
	height: 351px;
}






/***morgenrutine***/

.morgenrutine_foto {
	background-image: url(fotos/morgenrutine.jpg);
	background-size: cover;
	width: 100%;
	position: relative;
	background-position: center;
	overflow: hidden;
}




/***instagram***/


#instagram img:hover {
	opacity: 0.3;
}


#insta img {
	width: 100%;
	height: auto;
	margin: 10px 0px;
}

#insta img:hover {
	opacity: 0.3;
}


/***footer***/

footer {
	color: white;
	padding: 0px 10px;
}

footer .some {
	display: flex;
	justify-content: space-around;
}

footer a {
	font-size: 12px;
	color: white;
	text-decoration: none;
	hyphens: auto;
	font-family: 'Fashion', sans-serif;
}

footer a:hover {
	color: gray !important;
	text-decoration: none;
}


footer img {
	width: 30px;
	height: auto;
}

footer img:hover {
	transform: scale(1.1);
}







/* pulse animation til køb-knap renew */

.pulse {
	animation-name: pulse_kf;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate-reverse;
}

@keyframes pulse_kf {
	0% {
		transform: scale(0.85);
	}

	100% {
		transform: scale(1.2);
	}
}

/*Animation hover effekt på produktfotos under bestsellers*/

.static {
	position: absolute;
	background: white;
}

.static:hover {
	opacity: 0;
}



/*





/****privacy policy****/

#privacy_policy {
	background-color: #E2D7C6;
	color: black;
	overflow: hidden;
	margin: 0px;
}

#privacy_policy #text {
	max-width: 700px;
	margin: 0 auto;
}

#privacy_policy h1,
h2,
h3 {
	padding: 10px;
}

#privacy_policy h1 {
	font-size: 30px;
}

#privacy_policy h2 {
	font-size: 23px;
}

#privacy_policy h3 {
	font-size: 17px;
}

#privacy_policy p {
	padding: 10px 10px 20px 10px;
}

#privacy_policy .titel {
	margin-top: 100px;
}




/***media q***/



@media (max-width:1300px) {
	.splash-text {
		margin-left: 20vw;
		margin-right: 20vw;
	}

	.carousel-item {
		height: 400px;

	}

	.carousel-item img {
		object-fit: cover;
		object-position: 30% 0%;
		width: 300px;
		height: 400px;
	}

	.event img {
		object-fit: cover;
		object-position: 80% 0%;
	}



	.nyhedsbrev_foto,
	.certified-foto {

		background-size: cover;
		width: 100vw;
		height: 400px;
		background-position: center;
		overflow: hidden;
		background-attachment: inherit;
	}


	#step_1-3 .card,
	#testimonials .card {
		margin-bottom: -50px !important;
	}

	#bestsellers .card {
		margin-top: 50px;
	}


	.certified-foto img {
		height: 150px;
		padding: 20px;
		width: 150px;
	}

	.text h3 {
		font-size: 16px;
	}

}


@media (max-width:991px) {

	#navbarNav {
		background-color: rgba(226, 215, 198, 0.73);
		padding: 20px;
	}

	header a:hover {
		transform: scale(1);
	}

}

/*ipad og under*/

@media (max-width:835px) {
	#splash .btn {
		margin-top: 50px;
	}

	#splash_arrow {
		top: 850px;
	}

	#before-and-after {
		height: 1000px;
		background-position: 200vw;

	}


}


@media (max-width:767.98px) {
	.emballage {
		background-image: url(fotos/renew.jpg);
		background-size: cover;
		max-width: 450px;
		height: auto;
		position: relative;
		background-position: center;
	}

	.emballage h4 {
		font-size: 14px;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

	h2 {
		font-size: 30px !important;
	}

	.display-4 {
		font-size: 25px;
	}

	.text {
		background-color: #E2D7C6;
		margin: 0px;
		width: 100%;

	}

	.pic1 {
		margin-right: 0px;
		margin-left: 0px;
		width: 100%;
		padding: 0px;
	}

	.pic3 {
		margin-left: 0px;
		margin-top: 0px;
		background-color: transparent;
		width: 100%;
		padding: 0px;
	}

	video,
	.pic3 img,
	.text {
		width: 100%;
		height: auto;
	}

	.textbox,
	.youtubevideo {
		margin-right: 0px;
		margin-left: 0px;
		width: 100%;
		padding: 0px;
	}

	.splash-foto {
		height: 650px;
		background-position: 125vw;

	}

	.splash-text {
		margin-top: 290px;
	}


	#splash_arrow {
		top: 610px !important;
	}

	.text h3 {
		font-size: 26px;
		padding-top: 50px;
	}

	.certified-foto img {
		width: 175px;
		height: 175px;
	}

		#historien-bag-lavinde {
		height: 1200px;
		background-position: 235vw;
	}

}



/*Alt under iphone 6/7/8 plus*/

@media (max-width:600px) {

	.splash-foto {
		background-position: 165vw;

	}

	#havvideo {
		height: 300px;
	}

	.emballage {
		width: 350px;
		height: 350px;
		position: relative;
	}

	#ingredienser h4 {
		font-size: 12px;

	}

	.splash-text {
		margin-top: 325px;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	#historien-bag-lavinde {
		height: 1200px;
		background-position: 235vw;
	}

	#before-and-after {
		height: 1100px;
		background-position: 275vw;

	}

}

/*Alt under iphone 6/7 */

@media (max-width:400px) {

	.nyhedsbrev_foto {
		height: 500px;
	}

	#certified img {
		width: 150px;
		height: 150px;
	}

	#video-section h3,
	#before-and-after h2 {
		font-size: 20px !important;
	}

	#historien-bag-lavinde {
		height: 1300px;
	}
	}
